<div class="container-fluid">
    
<div id="carousel" class="carousel slide showThumbs{false}" data-ride="carousel" data-interval ="7000">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
      </ol>
    <div class="carousel-inner" role="listbox">
        <div
  class="">
      <div class="carousel-item active"
      style=" background-repeat: no-repeat;
      background-size:cover;
      background-image: url(https://media.istockphoto.com/photos/cyber-security-it-engineer-working-on-protecting-network-against-picture-id1322517295?b=1&k=20&m=1322517295&s=170667a&w=0&h=x4Kmx8fQytr6VPfuKwE381xf-rfiBFctyXvpb7o5ju8=);
       height: 95vh;
       width: 100%;"> 
        <div class="carousel-caption d-none d-md-block">
            <h5>WORK</h5>
    </div>
        </div>
      <div class="carousel-item"
      style="background-repeat: no-repeat;
      background-size: cover;
      background-image: url('https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8Y29tcHV0ZXIlMjBzY2llbmNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'); 
      height: 92vh;
      width: 100%;">
      </div>
      <div class="carousel-item w-80 "
      style="background-repeat: no-repeat;
      background-size: cover;
      background-image: url('https://images.unsplash.com/photo-1504639725590-34d0984388bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y29tcHV0ZXIlMjBzY2llbmNlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60'); 
            height: 92vh;
            width: 100%;">
            
        </div>
      </div>
    </div>
   
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
