<div id="carousel" class="carousel slide showThumbs{false}" data-ride="carousel" data-interval="7000">
  <ol class="carousel-indicators">
    <li data-target="#carousel" data-slide-to="0" class="active"></li>
    <li data-target="#carousel" data-slide-to="1"></li>
    <li data-target="#carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">

    <div class="carousel-item active" style=" background-repeat: no-repeat;
      image-rendering:auto;
      background-size:100%;
      background-image: url('https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); 
      height: 95vh;
       width: 100%;">
      <div class="carousel-caption" style="top: 43%;">
        <h1>Welcome to Reimbursement Service</h1>
      </div>
    </div>
    <div class="carousel-item" style="background-repeat: no-repeat;
      background-size: 100%;
      background-image: url('https://images.unsplash.com/photo-1457305237443-44c3d5a30b89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTN8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60'); 
      image-rendering:optimizeQuality;
      height: 95vh;
      width: 100%;">
    </div>
    <div class="carousel-item " style="background-repeat: no-repeat;
      background-size: 100%;
      background-image: url('https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzh8fGNvbXB1dGVyJTIwc2NpZW5jZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
      height: 95vh;
        width: 100%;">
    </div>
  </div>


  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>