<div class="container-fluid">
    <table class="table table-striped">
        <thead class="table-success">
            <tr>
                <th>Reimbursement ID</th>
                <th>Employee ID</th>
                <th>Amount</th>
                <th>Reason</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reim of allReimbursements">
                <td>{{ reim.reimbursementId }}</td>
                <td>{{ reim.employeeId }}</td>
                <td>{{ reim.reimbursementAmount }}</td>
                <td>{{ reim.reimbursementReason }}</td>
                <td>{{ reim.reimbursementDate }}</td>
                <td>{{ reim.status }}</td>

            </tr>
        </tbody>
    </table>
</div>