<div class="container">
    <h3>Denied Reimbursements</h3>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th>Denied ID</th>
                <th>Employee ID</th>
                <th>Reimbursement Amount</th>
                <th>Reimbursement Reason</th>
                <th>Reimbursement Status</th>
                <th>Reimbursement Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let requests of oneRequest">
                <td>{{ requests.deniedId }}</td>
                <td>{{ requests.employeeId }}</td>
                <td>{{ requests.reimbursementAmount }}</td>
                <td>{{ requests.reimbursementReason }}</td>
                <td>{{ requests.status }}</td>
                <td>{{ requests.reimbursementDate }}</td>
            </tr>
        </tbody>
    </table>
</div>