<link rel="stylesheet" href="header.component.css">

<nav class="navbar navbar-expand-sm 
navbar-dark bg-dark" >

    <div class="container-fluid">
        <ul class="navbar-nav">
         <li class="nav-item">
          <a class="navbar-brand" routerLink="login" >Login</a>
         </li>
         <li class="nav-item">
            <a class="navbar-brand"  routerLink="home">Employee Home</a>
         </li>
         <li class="nav-item">
            <a class="navbar-brand"  routerLink="mHome">Manager Home</a>
         </li>
        </ul>
    </div>
</nav>