
<form class="container h-100 d-flex justify-content-center mx-auto">
    <div class="card-header bg-primary text-white">My Information</div>
    <div class="card-body bg-light card-body-lg border border-5">
        <table>
           

            <tbody>
                <tr>
                    <td>
                        <label for="userName" class="col-sm-1 col-form-label text-dark ">First Name: </label> 
                    </td>
                    <td>{{ employee.firstName }}</td>
                    </tr>
            <tr>
                <td>
                <label for="userName" class="col-sm-1 col-form-label text-dark ">Last Name: </label>
                </td>
                <td>{{ employee.lastName }}</td>
            </tr>
            <tr>
                <td>
                    <label for="userName" class="col-sm-1 col-form-label text-dark ">Address: </label>
                </td>
                <td>{{ employee.address }}</td>
            </tr>
            <tr>
              <td>
                <label for="userName" class="col-sm-1 col-form-label text-dark ">Mobile Number: </label>
                </td>
                <td>{{ employee.phoneNumber }}</td>     
            </tr>
    
            <tr>
                <td>
                    <label for="userName" class="col-sm-1 col-form-label text-dark ">Username: </label>
                </td>
                <td>{{ employee.username }}</td>
            </tr>
                <tr>
                <td>
                    <label for="userName" class="col-sm-1 col-form-label text-dark ">Password: </label>
                </td>
                <td>{{ employee.password }}</td>
        </tr>
        </table>
    
            </div>
       
            <div class="card-footer bg-light">
                <button type="submit" 
                class="btn btn-primary"
                (click) = "updateInfo()">
                    UPDATE
                </button>
            </div>
        
    </form>
    

    


