<p>login works!</p>

<!-- <div class="card-header bg-dark text-warning">Login</div> -->
<div class="card-body bg-dark text-center card-body-lg">
    <form>
        <div class="form-group row">
            <label for="userName" class="col-sm-2 col-form-label text-warning ">Username: </label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="username" placeholder="Enter Username">
            </div>
        </div>
        <div class="form-group row mt-3">
            <label for="userName" class="col-sm-2 col-form-label text-warning ">Password: </label>
            <div class="col-sm-5">
                <input class="form-control" type="text" id="password" placeholder="Enter Username">
            </div>

            <div class="form-group">
                <label for="Occupation">What is your Occupation</label>
                <select class="form-control"
                 id="Occupation">
                    <option>Employee</option>
                    <option>Manager</option>
                    
                </select>
            </div>
        </div>
    </form>
</div>