
<form class="container h-100 d-flex justify-content-center mx-auto">
<!-- <div class="card-header bg-dark text-warning">Login</div> -->
<div class="card-body bg-light card-body-lg">
    
        <div class="form-group row">
            <label for="userName" class="col-sm-1 col-form-label text-dark ">Username: </label>
            <div class="col-sm-7">
                <input class="form-control" type="text" id="username" placeholder="Enter Username">
            </div>
        </div>
        <div class="form-group row mt-3">
            <label for="userName" class="col-sm-1 col-form-label text-dark ">Password: </label>
            <div class="col-sm-7">
                <input class="form-control" type="text" id="password" placeholder="Enter Username">
            </div>

        </div>
        <div class="card-footer bg-light">
            <button type="submit" class="btn btn-primary">
                LOGIN
            </button>
        </div>
    
</div>

</form>
