<form class="container h-100 d-flex justify-content-center mx-auto">
    <div class="card-header bg-primary text-white">Update Information</div>
    <div class="card-body bg-light card-body-lg border border-5">
        
            <div class="form-group row">
                <label for="userName" class="col-sm-1 col-form-label text-dark ">First Name: </label>
                    <input 
                    type="text" 
                    class="form-control" 
                    id="firstName" 
                    placeholder="employee First Name" 
                    name="firstName"
                    [(ngModel)]="newEmployee.employeeFirstName"
                    >
                
                
            </div>
            <div class="form-group row mt-3">
                <label for="userName" class="col-sm-1 col-form-label text-dark ">Last Name: </label>
                <div class="col-sm-7">
                     <input class="form-control" 
                     type="text" 
                     id="lastName "
                     placeholder="Enter Last name"
                    name="lstName"
                     [(ngModel)]="newEmployee.employeeLastName"
                     >
                </div>
    
            </div>
            <div class="form-group row mt-3">
                <label for="userName" class="col-sm-1 col-form-label text-dark ">Adress: </label>
                <div class="col-sm-7">
                    <input class="form-control" 
                    type="text" 
                    id="lastName "
                    placeholder="Enter Last name"
                   name="lstName"
                    [(ngModel)]="newEmployee.employeeAddress"
                    >
                </div>
    
            </div>
            <div class="form-group row mt-3">
                <label for="userName" class="col-sm-1 col-form-label text-dark ">Mobile Number: </label>
                <div class="col-sm-7">
                    <input class="form-control" 
                     type="text" 
                     id="lastName "
                     placeholder="Enter Last name"
                    name="lstName"
                     [(ngModel)]="newEmployee.employeePhoneNumber"
                     >
                </div>
    
            </div>
            <div class="form-group row mt-3">
                <label for="userName" class="col-sm-1 col-form-label text-dark ">Username: </label>
                <div class="col-sm-7">
                    <input class="form-control" 
                    type="text" 
                    id="lastName "
                    placeholder="Enter Last name"
                   name="lstName"
                    [(ngModel)]="newEmployee.employeeUserName"
                    >
                </div>
    
            </div>
            <div class="form-group row mt-3">
                <label for="userName" class="col-sm-1 col-form-label text-dark ">password: </label>
                <div class="col-sm-7">
                    <input class="form-control" 
                    type="text" 
                    id="lastName "
                    placeholder="Enter Last name"
                   name="lstName"
                    [(ngModel)]="newEmployee.employeePassword"
                    >
                </div>
            </div>
            </div>
            <div class="card-footer bg-light">
                <button type="submit" 
                class="btn btn-primary"
                (click) = "null">
                    Submit
                </button>
            </div>
        
    </form>
    

    

